body {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial;
    background-color: black;
}
.nav {
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: black;
}
.nav .logo img {
    top: 0;
    left: 10px;
    height: 5vw;
}
.header {
    background: url(./image/bg.jpg);
    background-position: center;
    background-size:cover;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -70px;
}
.header .title {
    text-align: center;
    font-family: cursive;
}
.header .title h1 {
    font-size: 100px;
    color:white;
    letter-spacing: 0.2em;
    margin-bottom: 20;
}
.header .title p {
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
    font-family:'Courier New';
    font-size: 20px;
}
.header .title button {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    transition: .5s ease;
    width: 150px;
    height: 40px;
}
.header .title button:hover {
    transition: .5s ease;
    border: 2px solid black;
    background: transparent;
    color: black;
}
input,
textarea {
    width: 100%;
    padding: 5px;
    outline: none;
    background-color: black;
    color: white;
    border: 1px solid white;
}
label {
    line-height: 1.9rem;
}
.inputSec {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 300px;
    margin-bottom: 50px;
    background: url(./image/input_bg.jpg);
    background-size: cover;
}
#transEng {
    width: 80px;
    height: 40px;
    font-family: Times;
    background-color: black;
    color: white;
}
#transKor {
    width: 80px;
    height: 40px;
    font-family: Times;
    background-color: black;
    color: white;
}
#transJap {
    width: 80px;
    height: 40px;
    font-family: Times;
    background-color: black;
    color: white;
}
#transChn {
    width: 80px;
    height: 40px;
    font-family: Times;
    background-color: black;
    color: white;
}
.inputSec .card {
    position: absolute;
    flex: 1;
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: flex-end;
    background-color: transparent;
}
fieldset {
    width: 200px;
    padding: 20px 40px;
    background: black;
    color: white;
    border: 2px solid white;
}
#resultBox {
    padding: 20px 40px;
    background: black;
    color: white;
    border: 2px solid white;
    vertical-align: middle;
    appearance: none;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 18px;
}
#nameKor {
    font-family:Arial;
}
input[type="submit"] {
    padding: 3px;
    margin-top: 0.6rem;
    font-family:Arial;
    border: 1px solid white;
}
input:hover[type="submit"] {
    transition: .5s ease;
    border: 1px solid gray;
    padding: 3px;
    margin-top: 0.6rem;
    color: white;
}
[type="radio"],
span {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}
[type="radio"]:checked {
    border: 0.4em solid skyblue;
}
[type="radio"]:focus-visible {
    outline: max(2px, 0.1em) dotted skyblue;
    outline-offset: max(2px, 0.1em);
}
[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}
  
[type="radio"]:hover + span {
    cursor: pointer;
}
#langBut{
    display: flex;
    width: 99%;
    justify-content: center;
    align-items:flex-start;
    margin-top: 550px;
}
.buttonSec #langBut button {
    width:150px;
    height:80px;
    text-align: center;
    justify-content: center;
    background: black;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    font-size: 16px;
    transition: .5s ease;
}
.buttonSec button:hover {
    transition: .5s ease;
    border: 2px solid gray;
    background: black;
    color: white;
}
.guideSec img {
    width: 100%;
}
#note {
    color: white;
    font-family: Arial;
    margin-top: 120px;
    margin-left: 280px;
}
footer {
    height: 100px;
    position: relative;
    transform: translateY(0%);
    display: flex;
    border-top: 1px solid #e4e4e4;
    background-color:black;
    padding:1rem 0;
    margin:1rem 0;
}
.footer-message {
    font-weight: bold;
    font-size:0.9rem;
    color:#a9a9a9;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
}
.footer-contact {
    font-size:0.9rem;
    color:#a9a9a9;
    margin:0.6rem;
}
.footer-github {
    font-size:0.9rem;
    color:#a9a9a9;
    margin:0.6rem;
}
.footer-copyright {
    font-size:0.9rem;
    color:#a9a9a9;
    margin:0.6rem;
}
#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}

